{% extends "base.html" %}


{% block content %}
  <h1> {{person.username}} 님의 프로필 </h1>
  
  <hr>

  <div>
    <div>
      팔로잉 : {{person.followings.all|length}}
      / 팔로워 : {{person.followers.all|length}}
    </div>
    {% comment %} request.user : 로그인한 사용자, person : 프로필 페이지 소유자 {% endcomment %}
    {% if request.user != person %}
      <form action="{% url "accounts:follow" person.pk %}" method="POST">
        {% csrf_token %}
        {% if request.user in person.followers.all %}
          <input type="submit" value="언팔로우">
        {% else %}
          <input type="submit" value="팔로우">
        {% endif %}
      </form>
    {% endif %}
  </div>


  <hr>
  <h2>게시글</h2>
  {% comment %} 외래키가 article에 있으니까 person이 article을 가져오려면 역참조 {% endcomment %}
  {% for article in person.article_set.all %}
    <div>{{article.title}}</div>
  {% endfor %}

  <hr>
  <h2>댓글</h2>
  {% comment %} 역참조 {% endcomment %}
  {% for comment in person.comment_set.all %}
    <div>{{comment.content}}</div>
  {% endfor %}

  <hr>
  <h2>좋아요한 게시글</h2>
  {% for article in person.like_articles.all %}
    <div>{{article.title}}</div>
  {% endfor %}


{% endblock content %}