<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% comment %} templates를 같은 계층의 디렉토리에 만드는 이유 {% endcomment %}
    {% comment %} 상속을 받기 위해서 {% endcomment %}
    {% comment %} 네이버 e스포츠 : 프로젝트, 네이버 뉴스 : 앱 {% endcomment %}
    
    {% comment %} 구멍뚫기 {% endcomment %}
    {% comment %} 상속받은 내용을 넣기 위해서 {% endcomment %}
    {% block content %}
    {% endblock content %}
</body>
</html>