<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">

    <!-- 배열 반복-->
    <div v-for="(item, idx) in myArr">
      {{idx}} / {{item.name}}
    </div>
    <hr>


    <!-- 객체 반복 -->
    <div v-for="(value, key, idx) in myObj">
      {{idx}} / {{key}} / {{value}}
    </div>


    <hr>
    <!-- template 태그를 사용한 그룹 반복 -->
    <!-- ul>template>li*2 -->
    <ul>
      <template v-for="item in myArr">
        <li>{{item.name}}</li>
        <li>{{item.age}}</li>
      </template>
    </ul>


    <!-- 중첩된 v-for -->
    <ul v-for="item in myInfo">
      <li v-for="friend in item.friends">
        {{item.name}} - {{friend}}
      </li>
    </ul>



  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp, ref } = Vue

    const app = createApp({
      setup() {

        const myArr = ref([
          { name: 'Alice', age: 20 },
          { name: 'Bella', age: 21 }
        ])


        const myObj = ref({
          name: 'Cathy',
          age: 30
        })


        const myInfo = ref([
          { name: 'Alice', age: 20, friends: ['Bella', 'Cathy', 'Dan'] },
          { name: 'Bella', age: 21, friends: ['Alice', 'Cathy'] }
        ])


        return {
          myArr,
          myObj,
          myInfo
        }
      }
    })

    app.mount('#app')
  </script>
</body>